* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#back-btn {
  text-align: center;
  margin: auto;
  padding: 9px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  left: 185px;
  top: 20px;
  background-color: #fff;
  color: #1d4bc0;
  position: fixed;
}

body {
  background-color: #000;
  color: #fff;
  text-align: center;
  overflow-x: hidden;
  font-family: sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.info-container {
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.imgs {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
#img2 {
  display: none;
}

.filter {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: #151515c7;
  z-index: 0;
}

/* detailes here ! */
.details {
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 20%;
}
.imgage-title {
  width: 1024px;
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.titles {
  font-size: 2.2rem;
  font-weight: 700;
  margin: auto 0px;
  margin-right: 20px;
  text-decoration: underline;
}
.description {
  text-align: center;
  padding: 25px;
  margin: 10px 200px;
  font-size: 1.2rem;
  line-height: 28px;
  color: #e8e8e8ef;
}

@media screen and (max-width: 900px) {
  * {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    width: auto;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    overflow-x: hidden;
  }
  #back-btn {
    left: 20px;
    top: 20px;
  }
  .imgs {
    display: none;
  }
  #img2 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: block;
    position: fixed;
  }
  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
  }
  .btn-container {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
  }
  .btns {
    margin: 0px 25px;
  }
  .director {
    position: relative;
    left: 25px;
  }
  .titles {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .filter {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  #input {
    font-size: 1rem;
  }
  .title {
    font-size: 1rem;
  }
  .details {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-x: hidden;
  }
  .imgage-title {
    width: 100%;
    display: inline-block;
    margin: 0px;
  }
  .titles {
    width: 90%;
    padding: 10px;
  }
  .description {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 23px;
    margin: 0px 5px;
    padding: 20px 15px;
    text-align: center;
  }
}

.top-fixed {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: transparent;
}
.title {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: fixed;
  background-color: rgba(15, 129, 223, 0.845);
  z-index: 3;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
#icon {
  background-color: blue;
  border-radius: 50%;
  text-align: center;
}
.search-box {
  padding: 9px;
  margin: 0px auto;
  margin-bottom: 20px;
  background-color: #fff;
  display: inline;
  text-align: center;
  width: auto;
  border: none;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  top: 80px;
  display: none;
}
.search-box i {
  color: gray;
}
#input {
  border: none;
  font-size: 1.1rem;
  color: #000;
}
#input:focus {
  /* display: none; */
  outline: none;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titles {
  margin: 20px 0px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  margin-top: 15px;
}
.btns {
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 5px 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
}
.btns:hover {
  background-color: #fff;
  color: #000;
}
.director {
  text-align: start;
  margin: 30px 0px 10px 10px;
}

#lined {
  text-decoration: underline;
}
